@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -600px 600px;
  }
}
.bg_login_admin{
  background-image: url("../../landing-users.png");
  animation: animatedBackground 30s linear infinite;
  -moz-animation: animatedBackground 30s linear infinite;
  -webkit-animation: animatedBackground 30s linear infinite;
  -o-animation: animatedBackground 30s linear infinite;
  position: relative;
  min-height: 100vh;
}
.bg_login_admin:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(8, 221, 193,.95);
  opacity: 1;
}
.bg_login_admin #login-container .login-title{
  background: #08ddc1;
  border: solid 1px #f9fafc;
}
#budget-filter .date-search-budgets{
  border-radius: 5px;
  border: 1px solid #b1b7c3;
}
.span-date{
  margin-top: 8px;
}
.icon-logo {
  width: 40px;
}
.mtg-bt-0 {
  margin-bottom: 0px !important;
}
.user-detail{
  line-height: 2;
}
.avatar-user {
  width: 180px;
  height: 180px;
  border-radius: 100%;
}
.pad-5 {
  padding: 5px;
}
.input-group .search-user {
  width: 50% !important;
  float: right !important;
}
.full-width {
  width: 100%;
}
.avt-small {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}
.centered-and-cropped {
  object-fit: cover;
}
.bgr-org {
  max-width: 100%;
}
.table-scroll-sm {
  max-height: 200px;
}
.table-align-left tr td {
  text-align: left;
}
.list-scroll {
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
}
.block-content .club-image {
  width: 100%;
  height: 350px;
}
