<div class="col-md-12 col-md-offset-2">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="col-md-11 text-center">
          <%= t ".title"%>
        </h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body widget-simple list-scroll">
        <div class="text-left col-md-12">
          <div id = "check_box_style">
            <% get_style_category(report_category, @report_categories).each do |key, value| %>
              <div class="row">
                <div class="check-box-style col-md-2">
                  <%= radio_button_tag :style_category, value, check_style(report_category, key) %><br>
                </div>
                <div class="col-md-5">
                  <%= t ".#{key}" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= button_tag t(".confirm"), class: "btn btn-sm btn-breez",
          "data-dismiss": "modal" %>
      </div>
    </div>
  </div>
</div>
