<% @sponsor.experience.each do |key, experience| %>
  <% unless check_experience_detail?(experience) %>
    <div data-role="dynamic-fields">
      <div class="form-inline">
        <div class="row">
          <div class="form-group col-md-3 form-experience mar-0px">
            <div class="col-md-12 width-100">
              <div class="form-group">
                <%= text_field_tag "event[]", experience[:event], class: "form-control input-text white-bgr mar-right3",
                  placeholder: t("sponsors.event") %>
              </div>
            </div>
          </div>
          <div class="form-group col-md-3 form-experience mar-0px">
            <div class="col-md-12 width-100">
              <div class="form-group">
                <%= text_field_tag "time[]", experience[:time_and_place], class: "form-control input-text white-bgr mar-right3",
                  placeholder: t("sponsors.time_and_place") %>
              </div>
            </div>
          </div>
          <div class="form-group col-md-2 form-experience mar-0px">
            <div class="col-md-12 width-100">
              <div class="form-group">
                <%= text_field_tag "member[]", experience[:member], class: "form-control input-text white-bgr mar-right3",
                  placeholder: t("sponsors.number_of_participants") %>
              </div>
            </div>
          </div>
          <div class="form-group col-md-3 form-experience mar-0px">
            <div class="col-md-12 width-100">
              <div class="form-group">
                <%= text_field_tag "communication[]", experience[:communication], class: "form-control input-text white-bgr mar-right3 mar-left3",
                  placeholder: t("sponsors.effective_communication") %>
              </div>
            </div>
          </div>
          <div class="form-experience">
            <button class="btn-primary" data-role="remove">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
