<div class="tip leave">
  <%= link_to "", data: {toggle: "dropdown"},
    class: "btn btn-breez btn-sm" do  %>
    <%= t ".status.joined" %> <i class="fa fa-caret-down"></i>
  <% end %>
  <ul class="drop-organization dropdown-menu" role="menu" aria-labelledby="menu1">
    <li>
      <%= link_to join_event_url(event_id: @event.id),
        class: "", method: :delete, data: {confirm: t("leave_organization")} do  %>
        <i class="fa fa-sign-out"></i> <%= t "leave_this_event" %>
      <% end %>
    </li>
  </ul>
</div>
