<section class="notify">
  <div class = "alert alert-success">
    <%= link_to t("do_nothing"), class: "close-message" do %>
      <span class="fa fa-times"></span><% end %>
      <%= @mesage %>
  </div>
</section>
