/*----- Notification--------*/
.notification_custom{
  overflow-y: scroll !important;
  .notification-list{
    .custom_notifications{
      padding: 0;
      .notifyBody{
        padding: 15px;
        .author-thumb{
          float: left;
          margin-right: 10px;
        }
        .notification-event{
          width: auto;
        }
      }
      .notifyBody.notification-un_read{
        background-color: $body-bg;
      }
    }
  }
}

/*------------Responsive--------------*/
.header-responsive{
  .tab-content{
    .notification-list{
      li{
        .author-thumb{
          max-width: 50px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}

.fixed-sidebar{
  .logo{
    img{
      max-width: 50px;
    }
  }
  .mCustomScrollbar{
    overflow-y: scroll;
  }
}

/*-------------Fix media---------------*/
        //-------menu-----------//
@media (max-width: 1180px){
  .menu_sign_in ul li a{
    padding: 10px 15px;
  }
}
@media (max-width: 1040px){
  .menu_sign_in ul li a{
    padding: 10px 10px;
  }
}

@media (max-width: 991px){
  .header, .fixed-sidebar{
    display: none;
  }
  .header-responsive, .fixed-sidebar.fixed-sidebar-responsive{
    display: block;
  }
}

/*--------------Organization detail--------------*/

.img_small{
  img{
    max-width: 115px;
    width: 100%;
    height: 45px;
  }
}
.w-search.custom_medium{
  width: auto;
}
.select_custom.form-control{
  color: #313235;
  background-color: transparent;
  padding:5px;
  border: 1px solid #e6ecf5;
  border-radius: 0.25rem;
  margin: 0 0 3px 0;
  font-size: 13px;
}
.filter_custom{
  .slider-container{
    margin-left: 0;
  }
}

.custom_flex{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px 25px;
  .item_club{
    width: 100%;
  }
}

.tab_detail_club{
  .ui-block{
    .content_tab{
      padding: 15px 52px;
    }
    .title-detail{
      padding-left: 25px;
      padding-top: 15px;
    }
    .title-detail i{
      padding-right: 10px;
    }
  }
}
.post-thumb{
  max-width: 75%;
  margin: 0px auto;
}
.full_image{
  width: 100%;
  margin-bottom: 20px;
}
.private-event{
  padding: 15px;
}
.title_custom{
  text-align: center;
  padding-top: 20px;
}
.radio_custom label{
  margin-right: 20px;
}
/*------------- User page -----------*/
.tab_my_account{
  li{
    display: inline-block;
    padding: 5px 10px;
    a{
      font-size: 14px;
      font-weight: 700;
      color: #9a9fbf;
      display: block;
    }
    a.active{
      color: #515365;
    }
  }
}

.drop_form{
  li{
    padding: 5px 10px;
  }
}

/*------------chatbox-------------*/
.icon_chat{
  position:fixed;
  bottom: 20px;
  right: 0;
  z-index: 10;
  font-size: 60px;
  color: $breez;
}
.custom_chatbox{
  background-color: #fff;
  position: fixed;
  right: 0;
  z-index: 999;
  bottom: 0;
  display: none;
  margin-bottom: 0;
  .ui-block-title{
    background-color:$breez;
    .icon-status{
      font-size: 20px;
      position: absolute;
      right: 12px;
      color: #fff;
      cursor: pointer;
    }
  }
  .content-chat{
    .custom_content_chat{
      background-color: #fff;
      overflow-y: scroll;
      min-height: 150px;
      .chat-message{
        li{
          .avatar{
            img{
              width: 30px;
            }
          }
          .notification-event{
            .chat-message-item{
              display: block;
              float: none;
              .notification-date{
                float: none;
                text-align: right;
              }
            }
            .notification-date{
              float: none;
              text-align: right;
            }
          }
        }
        li:nth-child(2n){
          .author-thumb{
            float: none;
          }
          .notification-event{
            float: none;
            .chat-message-item{
              float: none;
              background-color: #f0f4f9;
              color: #888da8;
            }
          }
        }
      }
    }
    form.row-chat{
      .form-group.label-floating{
        width: 100%;
        .add-options-message{
          .options-message{
            border: 0;
            padding: 0;
          }
        }
      }
    }
  }
  .load-more-message{
    color: #7c5ac2;
  }
}

/*------------- Custom popup budget page -------------*/

.custom_budget_popup{
  .ui-block{
    .table-responsive{
      .dataTables_wrapper{
        .dataTables_length{
          float: left;
          padding: 10px;
          label{
            select{
              padding: 6px 0px;
              margin-top: 5px
            }
          }
        }
        .dataTables_filter{
          float: right;
          padding: 10px;
          input{
            padding: 6px 0px;
            display: block;
            margin-top: 5px;
          }
        }
        .dataTables_info{
          padding-left: 10px;
        }
        .dataTables_paginate{
          padding: 10px;
          text-align: center;
          a{
            padding: 5px;
          }
        }
      }
    }
  }
}

/*---------- Custom default themes---------*/

.header-spacer_custom{
  height: 60px;
}

.top-header-thumb{
  max-height: 350px;
  display: block;
  overflow: hidden;
}
//----------box item-------//
.friend-item{
  .friend-header-thumb{

  }
  .friend-item-content{
    padding: 0 20px 20px 20px;
    .friend-avatar{
      margin: 0px 0;
      .author-content{
        .author-name{
          display: block;
        }
        .detail_item{
          display: inline-block;
          .rating_club{
            padding: 10px 0;
            text-align: left;
            strong{
              padding-right: 5px;
            }
          }
          .country{
            text-align: left;
            strong{
              padding-right: 5px;
            }
          }
        }
      }
    }
    .swiper-container{
      padding-bottom: 20px;
    }
    .swiper-container.cutom_hard_height{
      height: 65px;
      overflow: hidden;
    }
  }
}

.rating-container{
  >div{
    p.h5{
      color: #fff;
      font-size: 13px;
    }
  }
}

/*-------edit form comment-----*/
.cutom_edit_form{
  input{
    padding: 10px 15px;
    background: #fff;
  }
  p{
    font-size: 12px;
    padding-left: 15px;
    font-style: italic;
  }
}

/*-------- pagination ----------*/
.pagination{
  margin: 20px 0;
  justify-content: center;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  li{
    font-size: 12px;
    font-weight: 700;
    padding: 0 4px;
    a{
      position: relative;
      display: block;
      padding: 0.9rem 1.2rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #515365;
      background-color: #fff;
      border: 1px solid #e6ecf5;
      border-radius: 5px;
      &:hover{
        color: #fff;
        text-decoration: none;
        background-color: #ff5e3a;
        border-color: #ff5e3a;
      }
    }
    &.active{
      a{
        color: #fff;
        text-decoration: none;
        background-color: #ff5e3a;
        border-color: #ff5e3a;
      }
    }
  }
}

/*------------Custom landing page -------*/

.custom_landing.landing-page{
  &:before{
    background-color: rgba(8, 184, 127, 0.96);
  }
  .registration-login-form{
    .nav-tabs{
      .nav-link.active{
        fill: #08ddc1;
        background-color: #00FFF6;
      }
    }
    .tab-content{
      form{
        .btn{
          cursor: pointer;
        }
        .btn-purple{
          background-color: #08ddc1;
          &:hover{
            background-color: #ff3407;
          }
        }
      }
    }
  }
  .btn-purple{
    background-color: #08ddc1;
  }
}
body{
  color: $body-font-color;
}
.ui-block-title.ui-block-title-small{
  .title{
    font-size: 12px;
    color: $body-font-color;
  }
}
.ui-block.pading_10{
  padding: 20px;
}
.group-btn {
  margin-bottom: -120px!important;
}
.btn-leave {
  margin-bottom:10px;
}
.span-date {
  padding-top: 14px;
}
#budget-filter {
  margin-top: 10px;
}
.section-top {
  margin-top: 100px;
}
.icon-event {
  color: red;
  font-size: 16px;
}
.login-with-framgia {
  margin: 20px 0;
}
.btn-login {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #f55c2b;
  border: none;
  box-shadow: 1px 2px 1px grey;
}
.btn-login .icon {
  display: inline-block;
  float: left;
  width: 40px;
  margin-top: -12px;
}
.btn-login {
  display: inline-block;
  padding: 16px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.btn-suggest {
  margin-bottom: 0px;
}
.btn-log {
  background-color: #00B6FF;
}
.fa-star:before {
  color: yellow;
  font-size: 13px;
  float: right;
  margin-left: 6px;
}
.member-club-view {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}
.user-member {
  margin-bottom: 5px;
}
.view-member {
  padding: 0px 10px;
}
.member-club-view-more {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-top: 9px;
}
.view-user-member {
  border: 1px solid;
  background-color: #0ac5ad;
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.add-member{
  border: 1px solid;
  background-color: #ff5e3a;
  color: white;
  border-radius: 50%;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 20px;
}
.view-icon-memeber {
  margin-left: 5px;
}
.logo_sigin img {
  height: 25px;
}
.logo-page {
  height: 100px;
}
.half-width {
  width: 50%;
  left: 25%;
}
.fa-cog {
  font-size: 18px;
}
.tab_list_detail_club li a {
  font-size: 13px;
}
.tab_list_detail_club li .active {
  color: black;
}
.menu_sign_in .active a {
  color: #ad2e3e;
}
.notification-un_read {
  background-color: #edf2f6;
}
.notification-show img {
  width: 55px;
  height: 55px;
  margin-right: 20px;
  border-radius: 50%;
}
.notification-show .time_create {
  color: #829baf;
}
.show-all {
  margin: 10px auto;
  border: 1px solid $azure-white;
  border-radius: 5px;
  max-width: 65%;
}
.notification-title {
  border-bottom: 1px solid;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
.title-modal-member {
  padding-top: 20px;
  border-bottom: 1px solid $beige;
  padding-bottom: 18px;
}

/* form club request */

.select_custom.form-control {
  border-color: $border-blue;
}
.form-control {
  border-color: $border-blue;
}
.checkbox .checkbox-material .check {
  border-color: $border-blue;
}
.form-group.with-button button {
  background-color: $border-blue;
}

/* form add member(create club) */

.btn_add_member {
  margin-top: 10px;
  margin-left: 20px;
}

.import_user {
  margin-left: 20px;
}

.btn_import {
  width: auto;
}

.import_user_club {
  margin-left:15px;
}

.input-file {
  border: none;
}

.hidden {
  display: none;
}

/* list-type */

.ui-block-title .button-back {
  margin-left: auto;
}

.w125 {
  width: 125px;
}

.label-name-type {
  padding: 10px 20px 5px 20px;
}

.btn-create-type {
  margin: 1px 0px 0px 5px;
}

.type-name {
  width: 180px;
}

.btn-bottom-0 {
  margin-bottom: 0px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

/* list report */

.btn-info-report {
  margin-bottom: 0px;
}

.hide-div {
  display: none;
}

.btn-reject-report {
  width: 100px;
}

.detail-report-logo {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
}

a.pull-right.add_fields {
  margin-top: -15px;
  margin-left: 40px;
  margin-bottom: 0px;
}

.select-status-category {
  width: auto;
  margin: 0 auto;
}

.new_report_category .input-text {
  padding: 8px 20px;
}

.column-select {
  width: 15%;
}

.label-setting {
  margin-top: 10px;
}

.centered-and-cropped {
  object-fit: cover;
}

.check_box_category {
  margin-top: 4px;
  margin-right: 5px;
}

.check-box-style {
  margin-right: 5px;
  margin-top: 3px;
}

.row-style-checkbox {
  margin-top: 5px;
}

.list-style-type-decimal {
  list-style-type: decimal;
}

.list-style-type-none {
  list-style-type: none;
}

.ui-block .table-white {
  background-color: white;
}

.table-white td, table-white th {
  border: 1px solid #ddd;
  padding: 8px;
}

.column-detail {
  width: 35%;
}

.table-white tr:hover {
  background-color: #ddd;
}

.list-event-notifications {
  width: 100%;
}

.column-date {
  width: 20%;
}

.radio_choose {
  display: -webkit-inline-box;
  margin-top: 5px;
  width: 90px;
  padding-left: 20px;
}

.radio-style {
  margin-right: -15px;
}

.money-colums {
  width: 20%;
}

.new_image_video {
  display: -webkit-inline-box;
}

.middle-icon-play {
  position: absolute;
  top: 44%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.bar {
  height: 15px;
  background: green;
}

.fileinput-button {
  margin: 10px 20px;
}

.progess {
  margin-bottom: 10px;
}

.field-upload {
  border: 1px solid #e6ecf5;
  border-radius: 0.25rem;
}

.bar-upload {
  width: 0%;
}

.iframe-video {
  width: 100%;
  max-height: 450px;
  max-width: 768px;
}

.icon-close-video {
  margin: 5px 10px -5px;
}

.full-width {
  width: 100%;
}

.button-add-detail {
  padding: 10px 15px;
}

.label-detail {
  max-width: 17%;
  margin-top: 9px;
}

.toggle-btn{
  width: 45px;
  margin-bottom: -7px;
  height: 20px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background : url('uncheck.png') no-repeat 22px center #e74c3c;
  cursor: pointer;
  -webkit-transition: background-color .40s ease-in-out;
  -moz-transition: background-color .40s ease-in-out;
  -o-transition: background-color .40s ease-in-out;
  transition: background-color .40s ease-in-out;
  cursor:pointer;
  &.active{
    background : url('check.png') no-repeat 8px center #2ecc71;
    .round-btn{
      left: 25px;
    }
  }
  .round-btn{
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: all .30s ease-in-out;
  -moz-transition: all .30s ease-in-out;
  -o-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
  }
  .cb-value{
    position: absolute;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor:pointer;
  }
}

.white-bgr {
  background-color: white !important;
}

.expense{
  margin-top: 17px;
}

.field-btn {
  margin-top: 1px;
}

.label-bold {
  font-weight: bold;
  font-size: 15px;
}

.form-money {
  border-radius: 20px;
  border: 1px solid #b9d690;
  padding: 15px;
  margin-top: 20px;
}

#collapse-money:hover {
  color: hotpink;
}

.modal-report-detail {
  width: 140%;
  margin-left: -20%;
}

.white-text {
  color: white;
}

.nav_search {
  margin-bottom: 10px;
}

.select_per_page {
  padding: 2px;
  height: 43px;
}

.listing-grid {
  border-bottom: 1px solid #e5eaef;
  display: inline-block;
  margin-top: 25px;
  padding-bottom: 25px;
  position: relative;
  width: 100%;
  min-height: 161px;
}

.listing-grid img {
  margin: 15%;
  width: 83px;
  height: 83px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-border-top-left-radius: 1px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 1px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 4px;
}

.content-post {
  float: left;
  position: absolute;
  height: 500px;
  width: 95%;
}

.content-post p {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.content-post-show img {
  max-width: 100%;
  height: auto;
}

.input-text-custom {
  padding: 8px 20px;
}

.comment-post {
  width: 20%;
}

.head-activity {
  background-color: #e2ffff;
  line-height: 1;
}

.tab-in-activity {
  min-width: 340px;
}

.width-80 {
  width: 85%;
}

.w3-border-red {
  border-color: red !important;
  color: #313235 !important;
}

.w3-padding {
  padding: 8px 16px !important;
}

.w3-bottombar {
  border-bottom: 6px solid #ccc;
}

.user-event-join {
  width: 60%;
}

.view-more-user {
  width: 25px !important;
  height: 25px !important;
  border-radius: 20px !important;
  margin-bottom: 5px !important;
  line-height: 23px;
}

.title-block {
  text-transform: uppercase;
  font-size: 12px;
  color: #313235 !important;
}

.close-modal {
  margin-left: -8px;
  margin-top: -32px;
}

.comment-post-event {
  margin-top: 5px;
}

.view-avt-member {
  margin-bottom: 0px !important;
}
.btn-file
{
  overflow: hidden;
  position: relative;
  margin: 6px;
}
.btn-file input[type=file]
{
  background: white;
  cursor: inherit;
  display: block;
  font-size: 100px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  outline: none;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.img-upload .alert
{
  margin-bottom: 10px;
}
.img-remove-btn
{
  display: none;
}
.img-upload img
{
  margin-top: 10px;
  max-height: 250px;
  max-width: 250px;
}
.img-url-tab
{
  display: none;
}
.fields_gallery {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e6ecf5;
  margin-bottom: 5px;
  margin-top: 5px;
}
.list-gallery img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 5px;
  border: 1px solid #EAF6FF;
}
.list-gallery {
  margin: 5px 0px 5px 5px;
}
.btn-remove {
  transition: .5s ease;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.list-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.btn-add-data {
  transition: .5s ease;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin-top: 40%;
  margin-left: 40%;
}
.list-gellary {
  padding: 0px !important;
}
.notification-owner {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-bottom: 5px;
}
.link_user {
  color: #5488c7;
  text-decoration: none;
}
.link_user:hover {
  color: #33629c;
  text-decoration: underline;
}
.text-muted {
  color: #9b9b9b!important;
}
.mr-05 {
  margin-right: .5rem!important;
}
.link_notification:hover {
  color: #5488c7;
}
.content-posts {
  margin: 20px;
  border-bottom: 1px solid #EAF6FF;
}
.label-url {
  margin: 9px 0px 0px 3px;
}
.bt-del-field {
  padding: 8px;
}
.list-video{
  margin: 5px;
}
.label-gallery {
  margin: 5px 0px 0px 8px;
}
