<div class="infor-title ui-block-title">
  <h6 class="title">
    <div class="row">
      <div class="col-md-10">
        <span class="title"><%= t "organizations.index.club" %>:</span>
      </div>
      <div class="col-md-2">
        <strong class="organization-club pull-right"><%= @organization.clubs.size %></strong>
      </div>
    </div>
  </h6>
</div>
<div class="list-infor ui-block-content">
  <ul class="organization-list-infor widget w-personal-info item-block">
    <li>
      <div class="row">
        <% @organization.clubs.each do |club| %>
          <div class="tag-name">
            <%= link_to organization_club_path(club.organization.slug, club) do %>
              <span><%= club.name %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </li>
  </ul>
</div>
