<div class="col-md-12 col-md-offset-2">
  <div class="modal-dialog edit-club-type modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="block">
        </div>
      </div>
    </div>
  </div>
</div>
