<div class="infor-request ui-block-title">
  <%= form_for [@organization, @organization.club_types.build], remote: true do |f| %>
    <div id="error-explanation"></div>
    <div class = "row">
      <%= f.label t("name_club_type"), class: "control-label label-name-type" %>
      <div class="pull-left">
        <%= f.text_field :name, required: true,
          class: "form-control input-text" %>
      </div>
      <div class="pull-right">
        <%= f.button t("btn_create_type"), type: :submit, class: "btn btn-sm btn-primary btn-create-type" %>
      </div>
    </div>
  <% end %>
</div>
